<!doctype html>
<head>
<title>Docker Debug</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Environment Variables</h1>
<table>
<thead>
<tr><th>Environment Variable</th><th>Value</th></tr>
</thead>
<tbody>
{% for environ in environs %}
<tr><td><code>{{ environ }}</code></td><td><code>{{ environs[environ] }}</code></td></tr>
{%- endfor %}
</tbody>
</table>

<h1>Configuration File Contents</h1>

The contents of the file with name <code>WWW_DATA</code> environment variable are

<pre>
{{ data }}
</pre>

</body>
</html>
