[defaults]
module_utils = ./ansible/module_utils
inventory = ./inventory
inventory_plugins = ansible/plugins/inventory
filter_plugins = ansible/plugins/filter
roles_path = roles
callback_whitelist = profile_tasks,timer
stdout_callback = yaml
