boto
boto3
botocore
git+https://github.com/willthames/python@update_python_base
git+https://github.com/willthames/openshift-restclient-python@append_hash_and_loosen
git+https://github.com/ansible/ansible@stable-2.7
